<h1>Chat Lobby</h1>
<p>Hello, {@username}</p>
<div>
  <h2>Rooms:</h2>
  <ul>
    <%= for room <- @rooms do %>
      <li>
        Room {room}
      </li>
    <% end %>
  </ul>
</div>
<div>
  <form phx-submit="create_room">
    <input type="text" name="room" placeholder="Enter room name" />
    <button type="submit">Create</button>
  </form>
</div>
